// This is only used for react-native
// We generate our babel config via Webpack for everything else
{
  "presets": [
    "babel-preset-exponent"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
